{% extends 'base.html' %}
{% load static kug_tags lessons_tags %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
<script src="{% static 'js/schedulelist.js' %}" type="text/javascript"></script>
<script src="{% static 'js/stgroups_list.js' %}" type="text/javascript"></script>
{% endblock %}
{% block body %}
    {% get_teachers as teachers %}
    {% get_types as types %}
    {% get_statuses as statuses %}
    <div class="main-center">
        <h2>Управление группами</h2><br>
        <table class="table_crit">
            <thead>
                <tr>
                    <th colspan="7">
                        Количество групп в базе: {{ groups.count }}<br>
                        <a href="{% url 'centre:groupnew' %}"><i class="fa fa-plus fa-2x"></i></a>
                        <a href="#win_find">
                            <img src="{% static 'work/discover.png' %}" width="3%" height="3%">
                        </a>
                    </th>
                </tr>
                <tr>
                    <th>Шифр</th>
                    <th>Тип услуги<a href="#win_filter"><img src="{% static 'work/filter.png' %}" width="15px" height="15px"></a></th>
                    <th>Наименование услуги<br> (сроки обучения)</th>
                    <th>Куратор</th>
                    <th>Участники</th>
                    <th>Статус<a href="#win_filterstatus"><img src="{% static 'work/filter.png' %}" width="15px" height="15px"></a></th>
                    <th>Управление</th>
                </tr>
            </thead>
           <tbody>
                {% for group in groups|slice:30 %}
                    {% if filter_status is not None or group.status.name != 'Обучение завершено'  %}
                        <tr>
                        <td style="white-space: nowrap;">{{ group.code }}</td>
                        {% if group.course_id is None %}
                            <td>{{ group.event.type }} (ИКУ)</td>
                            <td width="20%;">{{ group.event.name }}<br>
                                ({{ group.event.date_start|date:"d.m.Y" }}-{{ group.event.date_finish|date:"d.m.Y" }})
                            </td>
                        {% else %}
                            <td>
                                {% if group.course.program.type_dpp == 'Профессиональная переподготовка' %}
                                    ПП (ОУ)
                                {% else %}
                                    ПК (ОУ)
                                {% endif %}
                            </td>
                            <td>
                                {{ group.course.program.name }}<br>
                                ({{ group.course.date_start|date:"d.m.Y" }}-{{ group.course.date_finish|date:"d.m.Y" }})
                            </td>
                        {% endif %}
                        <td>
                            {% if group.curator_id is None %}
                                Не назначен
                            {% else %}
                                {{ group.curator.surname }} {{ group.curator.name }} {{ group.curator.patronymic }}
                            {% endif %}
                            <br><a href="#win_curator_{{ group.id }}"><img src="{% static 'work/change.png' %}" width="25vh" height="25vh"></a>
                            <a href="#x" class="overlay" id="win_curator_{{ group.id }}"></a>
                                <div class="popup" style="width: 85vw;">
                                    <form method="POST">
                                      <center>
                                          {% csrf_token %}
                                          <input type="hidden" name="curator" value="{{ group.id }}">
                                          <table class="table_crit">
                                              <thead>
                                                <tr>
                                                    <th colspan="2">
                                                        Назначение куратора учебной группы
                                                    </th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                    <tr>
                                                        <td colspan="2">
                                                          <input type="text" class="TeachersList form-control" list="teachers" Placeholder="Начните вводить имя..."
                                                             name="teacher" required>
                                                          <datalist id='teachers'>
                                                              {% for key,value in teachers.items %}
                                                                  <option value="{{value}} (ID:{{ key }})">
                                                              {% endfor %}
                                                          </datalist>
                                                          <div class="teacher_info"></div>
                                                        </td>
                                                    </tr>
                                                    <tr class="tr_formbutton" style="visibility:collapse;">
                                                        <td colspan="2">
                                                            <div style="width: 50%; margin: 0 auto;">
                                                                <button type="submit" class="FormButton w-75 btn btn-lg btn-primary"
                                                                    onclick="document.location.href ='#'" disabled>
                                                                    Назначить куратора
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                              </tbody>
                                          </table>
                                          <button type="button" class="m-auto w-25 btn btn-lg btn-primary"
                                                  onclick="window.location.href='#close';">
                                              Закрыть
                                          </button>
                                      </center>
                                    </form>
                                </div>
                        </td>
                        <td>
                            {% if group.students_number is not None %}
                                {{ group.students.count }} из {{ group.students_number }}
                            {% else %}
                                {{ group.students.count }}
                            {% endif %}
                            {% if group.approve_group is True %}
                             (Состав утвержден)
                            {% endif %}
                            {% if group.students.count != 0  %}
                                <br>
                                <form action="{% url 'centre:studentslist' %}" method="GET">
                                    <input type="hidden" value="{{ group.id }}" name="id_group">
                                    <button class=" btn btn-lg btn-primary"
                                        onclick="window.location.href='/centre/study/kug_{{ group.id }}';">
                                    Просмотр
                                </button>
                                </form>
                            {% endif %}
                        </td>
                        <td>
                            {% if group.status.name == 'Идет регистрация' %}
                                <b style="color: #bc2525">{{ group.status.name }}</b>
                            {% elif group.status.name == 'Ожидает утверждения состава' %}
                                <b style="color: #951773">{{ group.status.name }}</b>
                            {% elif group.status.name == 'Ожидает подгрузку скана договора оферты' %}
                                <b style="color: #92c928">{{ group.status.name }}</b>
                            {% elif group.status.name == 'Ожидает ссылку на обучение' %}
                                <b style="color: #1778ba">{{ group.status.name }}</b>
                            {% elif group.status.name == 'Идет обучение' %}
                                <b style="color: #e88e67">{{ group.status.name }}</b>
                            {% else %}
                                <b>{{ group.status.name }}</b>
                            {% endif %}
                        </td>
                        <td>
                            <a href="#win_menu_{{ group.id }}"><img src="{% static 'work/menu.png' %}" width="50px" height="50px"></a>
                            <a href="#x" class="overlay" id="win_menu_{{ group.id }}"></a>
                                <div class="popup">
                                    <table border="0" align="center">
                                        <thead>
                                        <tr>
                                            <th colspan="2">Управление группой <form method="POST" id="delete_{{ group.id }}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="delete_gr" value="{{ group.id }}">
                                                    <button type="button" class="btn btn-lg btn-primary"
                                                        onclick="if (confirm('Вы действительно хотите удалить группу?')){document.getElementById('delete_{{ group.id }}').submit();window.location.href='#close';}">
                                                        Удалить учебную группу
                                                    </button></form></th>
                                        </tr>
                                        </thead>
                                        <tr>
                                            <td>
                                                <form method="POST" id="sz_{{ group.id }}">
                                                    {% csrf_token %}
                                                    {% if group.course_id is None %}
                                                        <input type="hidden" name="sz_iku" value="{{ group.id }}">
                                                    {% else %}
                                                        <input type="hidden" name="sz_ou" value="{{ group.id }}">
                                                    {% endif %}
                                                    <button type="submit" class="w-75 btn btn-lg btn-primary"
                                                        onclick="window.location.href='#close';">
                                                        {% if group.course_id is None %}
                                                            Сформировать СЗ об<br> оказании ИКУ
                                                        {% else %}
                                                            Сформировать СЗ об<br> оказании ОУ
                                                        {% endif %}
                                                    </button>
                                                </form>
                                            </td>
                                            <td>
                                                <form method="POST" id="order_{{ group.id }}">
                                                    {% csrf_token %}
                                                    {% if group.course_id is None %}
                                                        <input type="hidden" name="order_iku" value="{{ group.id }}">
                                                    {% else %}
                                                        <input type="hidden" name="order_ou" value="{{ group.id }}">
                                                    {% endif %}
                                                    <button type="submit" class="w-75 btn btn-lg btn-primary"
                                                        onclick="window.location.href='#close';">
                                                        {% if group.course_id is None %}
                                                            Сформировать приказ об оказании ИКУ
                                                        {% else %}
                                                            Сформировать приказ об оказании ОУ
                                                        {% endif %}
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <form method="POST" id="offer_{{ group.id }}">
                                                    {% csrf_token %}
                                                    {% if group.event_id is None %}
                                                        <input type="hidden" name="offer_ou" value="{{ group.id }}">
                                                    {% else %}
                                                        <input type="hidden" name="offer_iku" value="{{ group.id }}">
                                                    {% endif %}
                                                    <button type="submit" class="w-75 btn btn-lg btn-primary"
                                                        onclick="window.location.href='#close';">
                                                        Сформировать проект договора оферты
                                                    </button>
                                                </form>
                                            </td>
                                            <td>
                                                <button type="button" class="w-75 btn btn-lg btn-primary"
                                                    onclick="OfferScanWindow({{ group.id }});window.location.href='#win_js';">
                                                    Загрузить скан договора оферты
                                                </button>
                                                {% if group.offer != '' %}
                                                    <br><a href="/offer_view/?group={{ group.id }}"
                                                        target="_blank">
                                                        Посмотреть загруженный скан
                                                    </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <form method="POST" id="approve_{{ group.id }}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="approve_list" value="{{ group.id }}">
                                                    <button type="submit" class="w-75 btn btn-lg btn-primary"
                                                        onclick="window.location.href='#close';">
                                                        Утвердить состав учебной группы
                                                    </button>
                                                </form>
                                            </td>
                                            <td>
                                                <form method="POST" id="change_{{ group.id }}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="change_list" value="{{ group.id }}">
                                                    <button type="submit" class="w-75 btn btn-lg btn-primary"
                                                        onclick="window.location.href='#close';">
                                                        Открыть регистрацию в группе
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        {% if group.event is None %}
                                            <tr>
                                                <td>
                                                   <form method="POST" id="enroll_{{ group.id }}">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="order_enroll" value="{{ group.id }}">
                                                        <button type="submit" class="w-75 btn btn-lg btn-primary"
                                                            onclick="window.location.href='#close';">
                                                            Сформировать приказ о зачислении
                                                        </button>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form method="POST" id="expulsion_{{ group.id }}">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="order_expulsion" value="{{ group.id }}">
                                                        <button type="submit" class="w-75 btn btn-lg btn-primary"
                                                            onclick="window.location.href='#close';">
                                                            Сформировать приказ об отчислении
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                        {% endif %}
                                        <tr>
                                            <td>
                                                <form method="POST" id="forms_{{ group.id }}">
                                                    {% csrf_token %}
                                                    {% if group.event_id is None %}
                                                        <input type="hidden" name="courses_forms" value="{{ group.id }}">
                                                    {% else %}
                                                        <input type="hidden" name="events_forms" value="{{ group.id }}">
                                                    {% endif %}
                                                    <button type="submit" class="w-75 btn btn-lg btn-primary"
                                                        onclick="window.location.href='#close';">
                                                        Скачать<br>анкеты
                                                    </button>
                                                </form>
                                            </td>
                                            <td>
                                                <button type="button" class="w-75 btn btn-lg btn-primary"
                                                    onclick="StudyURLWindow({{ group.id }});window.location.href='#win_js';">
                                                    {% if group.event is None %}
                                                        Ввести ссылку<br> на курс
                                                    {% else %}
                                                        Ввести ссылку<br> на мероприятие
                                                    {% endif %}
                                                </button>
                                                {% if group.event_url != 'https://coko38.ru' %}
                                                    <br><a href="{{ group.event_url }}"
                                                        target="_blank">
                                                        Перейти по установленной ссылке
                                                    </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button type="submit" class="w-75 btn btn-lg btn-primary"
                                                    onclick="SurveyURLWindow({{ group.id }});window.location.href='#win_js';">
                                                    Изменить ссылку<br> на опрос
                                                </button>
                                                <br><a href="{{ group.survey_url }}"
                                                    target="_blank">
                                                    Посмотреть установленный опрос
                                                </a>
                                            </td>
                                    {% if group.event is None %}
                                            <td>
                                                <form method="POST" id="closestudy_{{ group.id }}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="close_study" value="{{ group.id }}">
                                                    <button type="submit" class="w-75 btn btn-lg btn-primary"
                                                        onclick="window.location.href='#close';">
                                                        Завершить<br> обучение
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <form method="POST" id="closedoc_{{ group.id }}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="close_doc" value="{{ group.id }}">
                                                    <button type="submit" class="w-75 btn btn-lg btn-primary"
                                                        onclick="window.location.href='#close';">
                                                        Закрывной<br> документ
                                                    </button>
                                                </form>
                                            </td>
                                            <td>
                                                <form method="POST" id="journal_{{ group.id }}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="journal_course" value="{{ group.id }}">
                                                    <button type="submit" class="w-75 btn btn-lg btn-primary"
                                                        onclick="window.location.href='#close';">
                                                        Сформировать<br> журнал
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <form method="POST" id="print_{{ group.id }}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="print_certs" value="{{ group.id }}">
                                                    <button type="submit" class="w-75 btn btn-lg btn-primary">
                                                        Печать<br>удостоверений
                                                    </button>
                                                </form>
                                            </td>
                                            <td>
                                                <button type="button" class="w-75 btn btn-lg btn-primary"
                                                    onclick="CertListParameters('{{ group.id }}');window.location.href='#win_js';">
                                                    Скачать ведомость выдачи удостоверений
                                                </button>
                                            </td>
                                        </tr>
                                {% else %}
                                        <td>
                                            Закрывной документ<br>(Ждем шаблон документа)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <form method="POST" id="journalev_{{ group.id }}">
                                                {% csrf_token %}
                                                <input type="hidden" name="journal_event" value="{{ group.id }}">
                                                <button type="submit" class="btn btn-lg btn-primary"
                                                    onclick="window.location.href='#close';">
                                                    Сформировать журнал
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endif %}
                                    </table>
                                    <br><button type="button" class=" btn btn-lg btn-primary"
                                          onclick="window.location.href='#close';">
                                              Закрыть
                                    </button><br>
                                </div>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
<form method="GET">
    <a href="#x" class="overlay" id="win_filter"></a>
        <div class="popup">
          <center>
              <table class="table_crit">
                  <thead>
                    <tr>
                        <th colspan="2">
                            Фильтрация по типу услуги
                        </th>
                    </tr>
                  </thead>
                  <tbody>
                        <tr>
                            <td>
                                Выберите тип:
                            </td>
                            <td>
                                <select class="form-control" style="text-align: center;"
                                        name="type">
                                    <option value="all">Все</option>
                                    <option value="Повышение квалификации">Повышение квалификации</option>
                                    <option value="Профессиональная переподготовка">Профессиональная переподготовка</option>
                                    {% for type in types %}
                                        <option value="{{ type.id }}">{{ type.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div style="width: 50%; margin: 0 auto;">
                                    <button type="submit" class=" btn btn-lg btn-primary"
                                        onclick="document.location.href ='#'">
                                        Применить фильтр
                                    </button>
                                </div>
                            </td>
                        </tr>
                  </tbody>
              </table>
              <table border="0">
                  <tr>
                      <td>
                          <button type="button" class=" btn btn-lg btn-primary"
                                  onclick="window.location.href='#close';">
                              Закрыть
                          </button><br>
                      </td>
                  </tr>
              </table>
          </center>
        </div>
    <a href="#x" class="overlay" id="win_filterstatus"></a>
        <div class="popup">
          <center>
              <table class="table_crit">
                  <thead>
                    <tr>
                        <th colspan="2">
                            Фильтрация по статусу учебной группы
                        </th>
                    </tr>
                  </thead>
                  <tbody>
                        <tr>
                            <td>
                                Выберите статусы:
                            </td>
                            <td style="text-align: left;">
                                {% for status in statuses %}
                                    <input type="checkbox" name="grstatuses" value="{{ status.id }}"> {{ status.name }}<br>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div style="width: 50%; margin: 0 auto;">
                                    <button type="submit" class=" btn btn-lg btn-primary"
                                        onclick="document.location.href ='#'">
                                        Применить фильтр
                                    </button>
                                </div>
                            </td>
                        </tr>
                  </tbody>
              </table>
              <table border="0">
                  <tr>
                      <td>
                          <button type="button" class=" btn btn-lg btn-primary"
                                  onclick="window.location.href='#close';">
                              Закрыть
                          </button><br>
                      </td>
                  </tr>
              </table>
          </center>
        </div>
</form>
<form method="GET">
        <a href="#x" class="overlay" id="win_find"></a>
            <div class="popup">
              <center>
                  <table class="table_crit">
                      <thead>
                        <tr>
                            <th colspan="2">
                                Поиск по учебным группам
                            </th>
                        </tr>
                      </thead>
                      <tbody>
                            {% csrf_token %}
                            <tr>
                                <td>
                                    Шифр группы:
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="code">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Наименование услуги:
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="name">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div style="width: 50%; margin: 0 auto;">
                                        <button type="submit" class=" btn btn-lg btn-primary"
                                            onclick="document.location.href ='#'">
                                            Поиск
                                        </button>
                                    </div>
                                </td>
                            </tr>
                      </tbody>
                  </table>
                  <table border="0">
                      <tr>
                          <td>
                              <button type="button" class=" btn btn-lg btn-primary"
                                      onclick="window.location.href='#close';">
                                  Закрыть
                              </button><br>
                          </td>
                      </tr>
                  </table>
              </center>
            </div>
    </form>
<a href="#x" class="overlay" id="win_js"></a>
    <div class="popup" id="popup_js"></div>
{% endblock %}