{% load i18n %}{% autoescape off %}
{% blocktrans %}Здравствуйте
Вы получили это письмо в связи с использованием вашего почтового ящика в форме сброса пароля для
Автоматизированной Информационной Системы "Учебный центр".{% endblocktrans %}

{% trans "Пожалуйста, перейдите по ссылке и введите новый пароль для вашего личного кабинета:" %}
{% block reset_link %}
https://edu-dev.coko38.ru{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "Спасибо, что используете нашу информационную систему" %}

{% blocktrans %}Команда АИС "Учебный центр"{% endblocktrans %}

{% endautoescape %}