{% extends 'authen/base_authen.html' %}

{% block body %}
    <div class="form-gap" style="padding-top: 70px;"></div>
    <div class="container">
    <a href="/" style="font-size: 25px;font-weight: 600;float:center">Вернуться на страницу входа</a><br>
    <h2 style="text-align-last: center;">Смена пароля</h2>
	<div class="row" style="margin: 0 auto;">
		<div class="col-md-4 col-md-offset-4" style="margin: 0 auto;">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <p>Придумайте новый пароль, после чего введите его в поля ниже</p>
                  <div class="panel-body">
                    <form id="reset-password" role="form" autocomplete="off" class="form" action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                      <div class="form-group">
                          Новый пароль:
                          <input type="password" name="new_password1" class="form-control" autocomplete="new-password" required="" id="id_new_password1">
                      </div>
                      <div class="form-group">
                        Подтверждение:
                          <input type="password" name="new_password2" class="form-control" autocomplete="new-password" required="" id="id_new_password2">
                      </div>
                        {% if form.errors %}
                            {% for field in form %}
                                {{field.name}}
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                      <br><div class="form-group">
                         <button class="btn btn-lg btn-primary btn-block" type="submit">Сохранить пароль</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>
{% endblock %}